/* Space out content a bit 
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}
/**/

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* Phoenix flash messages */
.alert:empty { display: none; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

body {
	background-color: #F7F7F7;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
	margin: 0;
}

.container {
    margin: 0 auto;
}

/* links */
a {
    color: #0078B4;
    text-decoration: none !important;
    transition: color 0.25s;
}
a:hover,
a:focus,
a:active {
    color: #005580;
}
a:focus {
    outline: thin dotted #333;
/*  outline-offset: -2px;*/
}

/* Main marketing message */
#jumbotron {
    text-align: center;
	margin: 30px 0;
}

#jumbotron h1 {
	color: inherit;
	font-family: inherit;
	font-size: 72px;
	font-weight: bold;
	line-height: 1;
	margin: 10px 0;
	cursor: default;
	text-rendering: optimizelegibility;
}

#jumbotron .target {
	background: rgba(202, 230, 190, 0.75);
	border: 1px solid #B7D1A0;
	border-radius: 4px;
	color: #468847;
	cursor: pointer;
	display: inline-block;
	font-size: 24px;
	padding: 28px 48px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	transition: background-color 0.25s, width 0.5s, height 0.5s;
}
#jumbotron .target:hover,
#jumbotron .target:active,
#jumbotron .target:focus,
#jumbotron .target.drop {
	background-color: rgb(188, 228, 170);
	text-decoration: none;
}

/**
 * NAVIGATION LINKS
 */
nav > ul,
nav a {
	color: #33799B;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: default;
}
nav > ul > li:after {
	content: "|";
	margin: 0 8px;
	opacity: 0.3;
}
nav > ul > li:last-child:after {
	content: "";
	margin: 0;
}
