<div class="container">
  <h1>Fuwa~</h1>
  <p class="lead">Max upload size is 32 Mb.</p>
  <a href="#" class="target">Select or drop file(s)</a>
  <input id="browse" class="hidden" type="file" multiple="">
  <table class="table">
      <thead>
          <tr><td style="width: 30%"></td>
          <td style="width: 70%"></td>
      </tr></thead>
      <tbody id="files"></tbody>
  </table>
</div>
